# IntelliJ IDEA - ignorar solo lo innecesario
.idea/workspace.xml
.idea/shelf/
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries/
.idea/httpRequests/
.idea/.gitignore
.idea/*.iml

# Compilados
target/
out/
